#### Purpose of the Notebook
To import, inspect and clean BRFSS prevalence data in a transparent and reproducible way, ensuring that all subsequent econometric, causal and machine learning analyses are based on a well-defined and internally consistent dataset.

#### Import the required Libraries

In [1]:
# Core data handling
import pandas as pd
import numpy as np

# Reproducibility
np.random.seed(42)

# Display settings
pd.set_option("display.max_columns", None)
pd.set_option("display.float_format", "{:.3f}".format)

#### Load Raw BRFSS Data

In [2]:
# Path to raw BRFSS data
df = pd.read_csv('Behavioral_Risk_Factor_Surveillance_System_(BRFSS)_Prevalence_Data.csv')

# Basic inspection
df.head()

,Year,Locationabbr,Locationdesc,Class,Topic,Question,Response,Break_Out,Break_Out_Category,Sample_Size,Data_value,Confidence_limit_Low,Confidence_limit_High,Display_order,Data_value_unit,Data_value_type,Data_Value_Footnote_Symbol,Data_Value_Footnote,DataSource,ClassId,TopicId,LocationID,BreakoutID,BreakOutCategoryID,QuestionID,ResponseID,GeoLocation
0,2024,GA,Georgia,Chronic Health Indicators,Depression,Ever told you that you have a form of depression?,Yes,Overall,Overall,"1,297",18.500,17.100,19.800,1,%,Crude Prevalence,NaN,NaN,BRFSS,CLASS03,TOPIC17,13,BO1,CAT1,ADDEPEV3,RESP046,"(32.83968109300048, -83.62758034599966)"
1,2024,GA,Georgia,Chronic Health Indicators,Depression,Ever told you that you have a form of depression?,No,Overall,Overall,"5,923",81.600,80.200,82.900,2,%,Crude Prevalence,NaN,NaN,BRFSS,CLASS03,TOPIC17,13,BO1,CAT1,ADDEPEV3,RESP054,"(32.83968109300048, -83.62758034599966)"
2,2024,GA,Georgia,Chronic Health Indicators,Depression,Ever told you that you have a form of depression?,Yes,Male,Sex,426,13.500,11.900,15.200,3,%,Crude Prevalence,NaN,NaN,BRFSS,CLASS03,TOPIC17,13,SEX1,CAT2,ADDEPEV3,RESP046,"(32.83968109300048, -83.62758034599966)"
3,2024,GA,Georgia,Chronic Health Indicators,Depression,Ever told you that you have a form of depression?,No,Male,Sex,"2,672",86.500,84.800,88.100,4,%,Crude Prevalence,NaN,NaN,BRFSS,CLASS03,TOPIC17,13,SEX1,CAT2,ADDEPEV3,RESP054,"(32.83968109300048, -83.62758034599966)"
4,2024,GA,Georgia,Chronic Health Indicators,Depression,Ever told you that you have a form of depression?,Yes,Female,Sex,871,23.000,21.100,25.000,5,%,Crude Prevalence,NaN,NaN,BRFSS,CLASS03,TOPIC17,13,SEX2,CAT2,ADDEPEV3,RESP046,"(32.83968109300048, -83.62758034599966)"

#### Data inspection

In [5]:
#Check for the dimensions
df.shape

(112875, 27)

In [6]:
#Check for the info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112875 entries, 0 to 112874
Data columns (total 27 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Year                        112875 non-null  int64
 1   Locationabbr                112875 non-null  object
 2   Locationdesc                112875 non-null  object
 3   Class                       112875 non-null  object
 4   Topic                       112875 non-null  object
 5   Question                    112875 non-null  object
 6   Response                    112155 non-null  object
 7   Break_Out                   112875 non-null  object
 8   Break_Out_Category          112875 non-null  object
 9   Sample_Size                 112875 non-null  object
 10  Data_value                  85246 non-null   float64
 11  Confidence_limit_Low        85246 non-null   float64
 12  Confidence_limit_High       85246 non-null   float64
 13  Display_order               112875 non-null  object
 14  Data_value_unit             112875 non-null  object
 15  Data_value_type             112875 non-null  object
 16  Data_Value_Footnote_Symbol  27629 non-null   object
 17  Data_Value_Footnote         27629 non-null   object
 18  DataSource                  112875 non-null  object
 19  ClassId                     112875 non-null  object
 20  TopicId                     112875 non-null  object
 21  LocationID                  112875 non-null  int64
 22  BreakoutID                  112875 non-null  object
 23  BreakOutCategoryID          112875 non-null  object
 24  QuestionID                  112875 non-null  object
 25  ResponseID                  112875 non-null  object
 26  GeoLocation                 112875 non-null  object
dtypes: float64(3), int64(2), object(22)
memory usage: 23.3+ MB

In [7]:
df.columns.tolist()

['Year',
 'Locationabbr',
 'Locationdesc',
 'Class',
 'Topic',
 'Question',
 'Response',
 'Break_Out',
 'Break_Out_Category',
 'Sample_Size',
 'Data_value',
 'Confidence_limit_Low',
 'Confidence_limit_High',
 'Display_order',
 'Data_value_unit',
 'Data_value_type',
 'Data_Value_Footnote_Symbol',
 'Data_Value_Footnote',
 'DataSource',
 'ClassId',
 'TopicId',
 'LocationID',
 'BreakoutID',
 'BreakOutCategoryID',
 'QuestionID',
 'ResponseID',
 'GeoLocation']

#### Understand the units of observation

In [10]:
#Understanding the units of observation
df[['Year']].value_counts().sort_index().head(10)

Year
2011    5476
2012    5589
2013    7638
2014    7312
2015    8670
2016    8510
2017    8866
2018    8198
2019    8566
2020    8326
Name: count, dtype: int64

#### Handling missing and suppressed values

In [15]:
#Identify the missing pattern
df.isna().sum().sort_values(ascending=False)

Data_Value_Footnote_Symbol    85246
Data_Value_Footnote           85246
Data_value                    27629
Confidence_limit_Low          27629
Confidence_limit_High         27629
Response                        720
Year                              0
ResponseID                        0
QuestionID                        0
BreakOutCategoryID                0
BreakoutID                        0
LocationID                        0
TopicId                           0
ClassId                           0
DataSource                        0
Display_order                     0
Data_value_type                   0
Data_value_unit                   0
Locationabbr                      0
Sample_Size                       0
Break_Out_Category                0
Break_Out                         0
Question                          0
Topic                             0
Class                             0
Locationdesc                      0
GeoLocation                       0
dtype: int64

#### Drop rows with missing Data value

In [16]:
df = df[df['Data_value'].notna()].copy()

In [17]:
df.isna().sum().sort_values(ascending=False)

Data_Value_Footnote           85246
Data_Value_Footnote_Symbol    85246
Response                        668
Year                              0
Data_value_unit                   0
ResponseID                        0
QuestionID                        0
BreakOutCategoryID                0
BreakoutID                        0
LocationID                        0
TopicId                           0
ClassId                           0
DataSource                        0
Data_value_type                   0
Display_order                     0
Locationabbr                      0
Confidence_limit_High             0
Confidence_limit_Low              0
Data_value                        0
Sample_Size                       0
Break_Out_Category                0
Break_Out                         0
Question                          0
Topic                             0
Class                             0
Locationdesc                      0
GeoLocation                       0
dtype: int64

#### We Explicitly ignore the footnote columns

In [18]:
# Define columns to remove for better maintainability
cols_to_drop = [
    'Data_Value_Footnote', 
    'Data_Value_Footnote_Symbol'
]

df = df.drop(columns=cols_to_drop, errors='ignore')

#### Check for Non numeric encoding

In [28]:
# Identify non-numeric columns for inspection
categorical_df = df.select_dtypes(include='object')

# Display the first 5 rows
categorical_df.head(3)

,Locationabbr,Locationdesc,Class,Topic,Question,Response,Break_Out,Break_Out_Category,Sample_Size,Display_order,Data_value_unit,Data_value_type,DataSource,ClassId,TopicId,BreakoutID,BreakOutCategoryID,QuestionID,ResponseID,GeoLocation
0,GA,Georgia,Chronic Health Indicators,Depression,Ever told you that you have a form of depression?,Yes,Overall,Overall,"1,297",1,%,Crude Prevalence,BRFSS,CLASS03,TOPIC17,BO1,CAT1,ADDEPEV3,RESP046,"(32.83968109300048, -83.62758034599966)"
1,GA,Georgia,Chronic Health Indicators,Depression,Ever told you that you have a form of depression?,No,Overall,Overall,"5,923",2,%,Crude Prevalence,BRFSS,CLASS03,TOPIC17,BO1,CAT1,ADDEPEV3,RESP054,"(32.83968109300048, -83.62758034599966)"
2,GA,Georgia,Chronic Health Indicators,Depression,Ever told you that you have a form of depression?,Yes,Male,Sex,426,3,%,Crude Prevalence,BRFSS,CLASS03,TOPIC17,SEX1,CAT2,ADDEPEV3,RESP046,"(32.83968109300048, -83.62758034599966)"

In [24]:
categorical_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 85246 entries, 0 to 112874
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Locationabbr        85246 non-null  object
 1   Locationdesc        85246 non-null  object
 2   Class               85246 non-null  object
 3   Topic               85246 non-null  object
 4   Question            85246 non-null  object
 5   Response            84578 non-null  object
 6   Break_Out           85246 non-null  object
 7   Break_Out_Category  85246 non-null  object
 8   Sample_Size         85246 non-null  object
 9   Display_order       85246 non-null  object
 10  Data_value_unit     85246 non-null  object
 11  Data_value_type     85246 non-null  object
 12  DataSource          85246 non-null  object
 13  ClassId             85246 non-null  object
 14  TopicId             85246 non-null  object
 15  BreakoutID          85246 non-null  object
 16  BreakOutCategoryID  85246 non-null  object
 17  QuestionID          85246 non-null  object
 18  ResponseID          85246 non-null  object
 19  GeoLocation         85246 non-null  object
dtypes: object(20)
memory usage: 13.7+ MB

In [25]:
# Identify columns with missing data
cols_with_nulls = categorical_df.columns[categorical_df.isnull().any()].tolist()

if cols_with_nulls:
    print(f"Columns requiring cleaning: {cols_with_nulls}")
else:
    print("No missing values detected in categorical columns.")

Columns requiring cleaning: ['Response']

#### Cleaning response

In [26]:
# Calculate null metrics for 'Response'
null_count = categorical_df['Response'].isnull().sum()
null_pct = (null_count / len(categorical_df)) * 100

print(f"Feature: Response")
print(f" - Missing records: {null_count:,}")
print(f" - Missing percentage: {null_pct:.2f}%")

Feature: Response
 - Missing records: 668
 - Missing percentage: 0.78%

#### Identify Patterns in Missingness

In [27]:
# Check if 'Response' nulls are clustered in specific Topics or Questions
missing_response_pattern = (
    categorical_df[categorical_df['Response'].isnull()]
    .groupby('Topic')
    .size()
    .sort_values(ascending=False)
)

print("Top Topics with missing Responses:\n", missing_response_pattern.head())

Top Topics with missing Responses:
 Topic
Number of Children    668
dtype: int64

In [30]:
#Check the column names
df.columns

Index(['Year', 'Locationabbr', 'Locationdesc', 'Class', 'Topic', 'Question',
       'Response', 'Break_Out', 'Break_Out_Category', 'Sample_Size',
       'Data_value', 'Confidence_limit_Low', 'Confidence_limit_High',
       'Display_order', 'Data_value_unit', 'Data_value_type', 'DataSource',
       'ClassId', 'TopicId', 'LocationID', 'BreakoutID', 'BreakOutCategoryID',
       'QuestionID', 'ResponseID', 'GeoLocation'],
      dtype='object')

#### Restricting the analysis window

In [35]:
# Restrict to post-2011 for consistency
brfss = df.loc[df['Year'] >= 2011].copy()

brfss['Year'].describe()

count   85246.000
mean     2017.657
std         3.890
min      2011.000
25%      2014.000
50%      2018.000
75%      2021.000
max      2024.000
Name: Year, dtype: float64

In [38]:
#### Sanity check
brfss.columns
brfss['Data_value'].describe()

count   85246.000
mean       42.412
std        32.701
min         0.100
25%        13.100
50%        31.900
75%        74.900
max       100.000
Name: Data_value, dtype: float64

#### Selecting the Most common variables needed for analysis

In [41]:
# Select core features for downstream analysis
core_columns = [
    'Year',
    'Locationabbr',
    'Locationdesc',
    'Topic',
    'Question',
    'Break_Out_Category',
    'Break_Out',
    'Sample_Size',
    'Data_value'
]

# Create a filtered copy to avoid SettingWithCopy warnings
brfss = df[core_columns].copy()

In [42]:
print(f"Dataset subsetted to {brfss.shape[1]} core columns.")

Dataset subsetted to 9 core columns.

#### Check for the Duplicated Values

In [45]:
# Check for exact row duplicates
duplicate_count = brfss.duplicated().sum()

print(f"Total duplicate rows: {duplicate_count}")
if duplicate_count > 0:
    print(f"Percentage of duplicates: {(duplicate_count / len(brfss)) * 100:.4f}%")

Total duplicate rows: 3
Percentage of duplicates: 0.0035%

#### Inspection of the duplicates and drop

In [47]:
# Remove duplicates and reset index
brfss = brfss.drop_duplicates().reset_index(drop=True)

print(f"Duplicates removed. New dataset shape: {brfss.shape}")

Duplicates removed. New dataset shape: (85243, 9)

#### Save the cleaned file

In [49]:
# Save the cleaned dataset to a CSV file
brfss.to_csv('brfss_scaffold_clean.csv', index=False)